## Given a dataset with a date column, extract year, month, day of week, weekend flag, and days difference between two dates.

In [1]:
import pandas as pd

In [2]:
data = {
    'start_date': ['2025-09-01', '2025-09-05', '2025-09-07', '2025-09-10'],
    'end_date': ['2025-09-03', '2025-09-06', '2025-09-09', '2025-09-12']
}

In [3]:
data

{'start_date': ['2025-09-01', '2025-09-05', '2025-09-07', '2025-09-10'],
 'end_date': ['2025-09-03', '2025-09-06', '2025-09-09', '2025-09-12']}

In [4]:
df=pd.DataFrame(data)

In [8]:
df.head()

  start_date   end_date
0 2025-09-01 2025-09-03
1 2025-09-05 2025-09-06
2 2025-09-07 2025-09-09
3 2025-09-10 2025-09-12

 # Converting the column into the date and time formate using .to_datetime

In [6]:
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

In [7]:
df

  start_date   end_date
0 2025-09-01 2025-09-03
1 2025-09-05 2025-09-06
2 2025-09-07 2025-09-09
3 2025-09-10 2025-09-12

# extract date features

In [13]:
df['year']=df['start_date'].dt.year
df['month']=df['start_date'].dt.month
df['day']=df['start_date'].dt.day
df['day_of_week']=df['start_date'].dt.day_name()
df['is_weekend']=df['start_date'].dt.weekday>=5

In [14]:
df

  start_date   end_date  year  month  day day_of_week  is_weekend
0 2025-09-01 2025-09-03  2025      9    1      Monday       False
1 2025-09-05 2025-09-06  2025      9    5      Friday       False
2 2025-09-07 2025-09-09  2025      9    7      Sunday        True
3 2025-09-10 2025-09-12  2025      9   10   Wednesday       False

# difference column

In [16]:
df['days_difference']=(df['end_date']-df['start_date']).dt.days

In [18]:
df['days_difference']

0    2
1    1
2    2
3    2
Name: days_difference, dtype: int64

In [20]:
df.head()

,start_date,end_date,year,month,day,day_of_week,is_weekend,days_difference
0,2025-09-01,2025-09-03,2025,9,1,Monday,False,2
1,2025-09-05,2025-09-06,2025,9,5,Friday,False,1
2,2025-09-07,2025-09-09,2025,9,7,Sunday,True,2
3,2025-09-10,2025-09-12,2025,9,10,Wednesday,False,2